main{
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
.container{
  width: 90vw;
  background: rgb(228, 228, 228);
  border-radius: 4px;
  padding: 2rem 2rem;
  max-width: 920px;
  margin: 5px auto;
}
.btn{
  background: transparent;
  border: transparent;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: blueviolet;
  background: cornsilk;
  cursor: pointer;
  align-self: center;
  min-width: 2rem;
  margin-left: 1rem;
}

.content{
  border-radius: 5px;
  background: gainsboro;
  border: 1px solid slategrey;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  box-shadow: 0 5px 15px darkslategray;
}

.content header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h3{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  color: rgb(0, 136, 255);
  font-size: xx-large;
}
p{
  color: purple;
}